<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Flatiron School Student Outcomes</title>
      <meta name="description" content="Education used to be the best investment someone could make. It can be again.">

      <script type="text/javascript">
        // Javascript URL redirection
        window.location.replace("https://flatironschool.com/");
      </script>

      <noscript>
        // Using HTML refresh meta tag as a fail back in case the user has javascript disabled
        <meta http-equiv="refresh" content="0;URL=https://flatironschool.com/">
      </noscript>
    </head>
</html>
