.gradient-transition
  height: 100%
  width: 100%
  position: absolute
  top: 0
  bottom: 0

.slide-static-content
  color white
  position absolute
  left 50%
  transform translate(-50%, 0)
  -webkit-transform translate(-50%, 0)
  bottom 5%
  z-index 200

.title-container
  width: 100%
  position: fixed
  transform translate(0, -50%)
  -webkit-transform translate(0, -50%)

.alumni
  color white
  background-color #21A8D0

  .title-container
    top 50%
    text-align center

    .title
      margin 2em 0

  a
    color: white !important
    text-decoration underline !important

.slide-bottom-text
  text-align center
  margin 0
